@{
    ViewData["Title"] = "Error";
}

            <h1 class="text-info">@ViewData["Title"]</h1>
            <h2 class="text-info">Ocurrió un error al procesar la información.</h2>
            <p>@TempData["Error"]</p>
