<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="DebugLog" xsi:type="File" fileName="logs/debug.log" />
		<target name="TraceLog" xsi:type="File" fileName="logs/trace.log" />
		<target name="InfoLog" xsi:type="File" fileName="logs/info.log" />
		<!-- Target "blackhole", see NLog documentation -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>

		<!-- Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" maxlevel="Info" writeTo="lifetimeConsole" final="true" />

		<!-- Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" level="Trace" writeTo="TraceLog"/>
		<logger name="*" minlevel="Info" writeTo="InfoLog" />
		<logger name="*" level="Debug" writeTo="DebugLog" />
	</rules>
</nlog>