@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccesor
@{
    ViewData["Title"] = "Inicio";
}

            <h1>Bienvenido @HttpContextAccesor.HttpContext.Session.GetString("Nombre")</h1>
