@{
    ViewData["Title"] = "Políticas de privacidad";
}

            <h1 class="text-info">@ViewData["Title"]</h1>

            <p>Privacidad? JAJAJA</p>
            <p>Estás en internet. Aquí la privacidad no existe :D</p>
